# Compiled class files
*.class

# Log files
*.log

# Eclipse project files
.settings/
.classpath
.project

# Compiled binaries
bin/

# Dependency directories
target/
lib/
../target/

# Temporary files
tmp/
.temp/
